*{
    margin:0;
    padding:0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:flex; 
    justify-content: center;
    align-items: center;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 1s;
}
video{
    width: 100px;
    height: 100px;
    border-radius: 20%;
}
.container{
    border-radius: 20px;
    height:60%;
    background-color: rgb(243, 242, 242);
    padding:0 80px;
    width: fit-content;
    display:flex;
    flex-direction:column;
    align-items:center ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.507);
    justify-content: space-around;
    & h2 {
        text-align: center;
        text-transform: uppercase;
    }
    & .time {
        font-size: 3rem;
    }

    & .btns {
        display: flex;
        column-gap: 15px;
        & >:nth-child(1){
            background-color: green;
        }
        & >:nth-child(2){
            background-color: red;
        }
        & >:nth-child(3){
            background-color: gray;
        }
        & >button{
            color:white;
            text-transform: capitalize;
            padding:10px;
            border:none;
            border-radius: 10px;
            box-shadow: none;

        }
        


    }

}